@{
    ViewBag.Title = "LAB1";
}

@model IEnumerable<Laboratorio_Arbol_Huffman_y_ZLV.Models.Historial>

<table class="table">
    <tr>
        <th>
            Archivos
        </th>
        <th>
            Razon de Compresion
        </th>
        <th>
            Factor Compresion
        </th>
        <th>
            Porcentaje de reduccion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.NombreArchivo, "Descargar", new { filename = item.NombreArchivo })
            </td>
            <td>
                @Html.DisplayFor(model => item.RazonCompre)
            </td>
            <td>
                @Html.DisplayFor(model => item.FactorCompre)
            </td>
            <td>
                @Html.DisplayFor(model => item.PorcentajeRedu)
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("SubirArchivo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fArchivo" />
    <button type="submit"> SUBIR ARCHIVO HUFFMAN </button>
}
@using (Html.BeginForm("SubirArchivoLZW", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fArchivo" />
    <button type="submit"> SUBIR ARCHIVO LZW </button>
}