@{
    ViewBag.Title = "LAB1";
}

@using (Html.BeginForm("SubirArchivo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fArchivo"/>
    <button type="submit"> Subir Archivo </button>
}